
<div class="container mt-5" style="color:white;background-color:brown;padding:20px;font-family:verdana;">
    welcome to our website unicardo. this web application help you in different access sevices . it is also
    a wide range ecommerce platform . customers can easy to access and modify this website it is also good feed back
    on this website . unicardo (union card operator ) this is the most and effective purchasing and ordering way .
    thank you for visiting. unicardo gives you good quality for communication and interface use .you can use the all the
    near or far shops access in a one website . this web application provide more details and also userfriendly interface .
    customers may also create their own companies own this platform .this is web application can only need low capital price and
    reduce the maintenance cost .
</div>
<div class="container mt-4" style="background-color:orange;color:white;text-align:center;">
        <p> @Unicardo copy right </p>
    </div>
</div>